{% extends "layout.html" %}
{% block title %}Forgot password - SITENAME{% endblock %}
{% block login_active %}active{% endblock %}
{% block content %}

<main role="main" class="container">
<form action="{{ url_for('account_blueprint.forgot') }}" method="post">

    {% if message %}
      <div class="alert alert-warning" role="alert">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    <div class="mb-3">
      <label for="email">What is your email address?</label>
      <div class="input-group">
        <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
      </div>
    </div>
    
    <div><button type="submit" class="btn btn-primary">Send link to reset password</button></div>

    {{ form.csrf_token }}

</form>
</main>

{% endblock %}