.gomden-h1 { 
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 22pt;
    font-weight: bold;
}

.gomden-h2 { 
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 20px;
}

.gomden-title-page-name {
    color: #aaa;
}

.gomden-missing-page-link {
    color: red;
}

.gomden-disabled-text {
    color: #aaa;
}

.gomden-content-license {
    color: #aaa;
}

.gomden-apology-captcha {
    background-color: pink;
}